# Dependências / builds
/vendor/
/node_modules/

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de teste / anotações locais
*.txt

# IDE / SO
/.idea/
/.vscode/
/.DS_Store

# PHPUnit
.phpunit.result.cache

# Uploads (exemplo)
/public/uploads/*
!/public/uploads/.gitkeep